// @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$background-color: #2c5dd0;
$font-family: "Roboto", sans-serif;

@mixin btn($fontcolor: #fafafa) {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  outline: 0;
  border: 0;
  width: 100%;
  padding: 15px;
  background: #1e94e8;
  color: $fontcolor;
  text-transform: uppercase;
}

@mixin message($fontcolor: #90a4ae) {
  color: $fontcolor;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

@mixin input($bkgnd: #f5f5f5) {
  font-family: $font-family;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  outline: 0;
  font-size: 15px;
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box;
  background: $bkgnd;
}

body {
  // font-family: $font-family;
  font-family: 'Inter', sans-serif;
  // font-family: 'Poppins', sans-serif;
  background: $background-color;
}

.container {
  padding: 8% 0 0;
  width: 365px;
  margin: 0 100px auto;
}

.form {
  position: relative;
  z-index: 1;
  max-width: 350px;
  margin: 0 auto 100px;
  padding: 45px;
  background: #ffffff;
  border-radius: 25px;
}

.form {
  input {
    @include input;

    ::placeholder {
      color: #90a4ae;
    }
  }

  .btn {
    @include btn;
  }

  .message {
    @include message;
    a {
      text-decoration: none;
      color: #00bfa5;
    }
  }
}

.navBar {
  background-color: #00bfa5;
  display: flex;
  flex-direction: end;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  width: 100vw;
}

.navBarRight {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: orange;
  padding: 1vw;
  width: 40vw;
}

/* Search Bar */

.searchBar {
  display: flex;
  height: 3em;
  width: 17em;
  align-self: center;
  background-color: #f0f0f0;
  // background-color: red;
  border: solid;
  border-radius: 25px;
  // justify-content: space-between;
  // padding: 2px;
}

.searchButton {
  // background-color: #00bfa5;
  align-self: center; 
  // border-radius: 25px;
  // height: 40em;
  // margin: 0 0 0 0;
  width: 5em;
}

.searchButton:hover {
  opacity: 1;
}

.searchInput {
  // background-color: #f0f0f0;
  // background-color: teal;
  // border: solid;
  height: 2.7em;
  margin: 0 0 0 1em;
  align-self: center;
}

/* Goal */

.timeline {
  display: flex;
  justify-content: space-between;
  width: 17rem;
}

.goalName {
  display: flex;
  justify-content: space-between;
  width: 17rem;
}

.units {
  width: 17rem;
  height: 3rem;
  border-radius: 4px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s all;
}

/* Input */

.input-wrapper {
  margin-top: 20px;
}

label {
  font-weight: 600;
  font-size: 18px;
  color: #344054;
  display: block;
  margin-bottom: 8px;
}

input {
  font-size: 16px;
  font-weight: 400;
  width: 250px;
  color: #344054;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 10px 14px;
}

input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #667085;
}

// Input field focus
input:focus {
}

// Should be inputError ?? Customized? Does error exist elsewhere? 
.error {
  color: #db4437;
  font-size: 14px;
  font-weight: 400;
  margin-left: 12px;
  margin-top: 4px;
}

/* Book Club List Item */

.bookAdditional {
  // background-color: pink;
  width: 20%;
}

.descriptionInfo {
  display: flex;
  flex-direction: column;
  margin: 0 5em 0 1em;
  overflow: auto;
  width: 50%;
  // background-color: red;
}

.descriptionText {
  // background-color: yellow;
  // overflow: hidden;
  // font-size: 1.4vw;
  margin: 0 auto auto 0.5em;
}

.bookInformation {
  display: flex;
  flex-direction: row;
  padding: 1em;
  width: 85%;
  // background-color: green;
}

.bookListItem {
  border-radius: 10px;
  display: flex;
  margin: 0.5rem 7.5rem 0.4rem 7.5rem;
  height: 10em;
  background-color: silver;
  box-shadow: 0 0 0.4em 0.2em slategray
}

.bookListItemLeft {
  display: flex;
  justify-self: center;
  align-items: center;
  width: 15%;
  // background-color: white;
  object-fit: cover;
}

.bookImage {
  object-fit: contain;
  height: 90%;
  width: 80%;
  margin: 0.5em 0.25em 0.5em 0.5em;
  // background: orange;
}

.ratingDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // background-color: red;
  height: 90%;
  width: 20%;
}

.ratingStarsVert {
// background-color: teal;
  display: flex;
  flex-direction: column;
  height: 90%;
}

.ratingStarsHor {
  // background-color: teal;
    display: flex;
    flex-direction: row;
    height: 75%;
  }

.titleAndAuthorInfo {
  display: flex;
  flex-direction: column;
  // background-color: purple;
  width: 20%;
}

.titleInfo {
  display: flex;
  flex-direction: column;
  // background-color: silver;
  height: 50%;
}

.titleText {
  // background-color: lime;
  font-size: 1.4vw;
  margin: 0 auto auto 0.5em;
}

.authorInfo {
  display: flex;
  flex-direction: column;
  // background-color: aqua;
  height: 50%;
}

.authorText {
  // background-color: orange;
  font-size: 1.4vw;
  margin: 0 auto auto 0.5em;
}

.smallHeading {
  // background-color: gold;
}

.smallHeadingText {
  // background-color: coral;
  font-size: 1.2vw;
  font-weight: bold;
  margin: 0;
}

.categoryInfo {
  display: flex;
  flex-direction: column;
  height: 33.33%;
}

.categoryText {
  font-size: 1vw;
  margin: 0 auto auto 0.5em;
  // background-color: white;
}

.pageInfo {
  display: flex;
  flex-direction: column;
  height: 33.33%;
}

.pagesText {
  font-size: 1vw;
  margin: 0 auto auto 0.5em;
}

.publisherInfo {
  display: flex;
  flex-direction: column;
  height: 33.33%;
}

.publisherText {
  font-size: 1vw;
  margin: 0 auto auto 0.5em;
}

/* Dropdown Menu */

.dropdown-container {
  // background-color: blue;
  align-self: center;
  margin: 0 0em 0 0.5em;
}

.dropdown-header {
}

.dropdown-header-title {
  font-weight: bold;
}

.dropdown-list {
  display: flex;
  flex-direction: column;
}

.dropdown-list-item {
}

/* Single Book Book Expanded */

.singleBookItem {
  // border: solid;
  border-radius: 10px;
  display: flex;
  margin: 0.5rem 15rem 0.4rem 15rem;
  height: 35em;
  width: 60%;
  background-color: silver;
  box-shadow: 0 0 0.4em 0.2em slategray;
  align-items: center;
}
.singleBookItemLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  // background-color: lime;
  object-fit: cover;
}

.singleBookInformation {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  // background-color: green;
}

.singleBookImage {
  object-fit: cover;
  height: 80%;
  margin: 0 0 0.5em 0;
}

.singleBookRatingDisplay {
  height: 10%;
}

.review-star {
  display: flex;
  // background-color: orange;
}

.singleBookTitleAndAuthorInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 1.5em 0 0;
  // background-color: purple;
}

.singleBookTitleInfo {
  display: flex;
  flex-direction: column;
  // background-color: silver;
  height: 50%;
  margin: 0 0 0.5em 0;
}

.singleBookTitleText {
  // background-color: lime;
  font-size: 1.4vw;
  margin: 0 auto auto 0.5em;
}

.singleBookAuthorInfo {
  display: flex;
  flex-direction: column;
  // background-color: aqua;
  height: 50%;
  margin: 0.5em 0 0 0;
}

.singleBookAuthorText {
  // background-color: orange;
  font-size: 1.4vw;
  margin: 0 auto auto 0.5em;
}

.singleBookSmallHeading {
  // background-color: gold;
}

.singleBookSmallHeadingText {
  // background-color: coral;
  font-size: 1.2vw;
  font-weight: bold;
  margin: 0;
  align-self: center;
}

.singleBookCategoryInfo {
  display: flex;
  flex-direction: column;
  height: 33.33%;
  width: 35%;
  // background-color: orange;
}

.singleBookCategoryText {
  font-size: 1vw;
  margin: 0;
  text-align: center;
  // background-color: white;
}

.singleBookPageInfo {
  display: flex;
  flex-direction: column;
  height: 33.33%;
  width: 25%;
  // background-color: white;
}

.singleBookPagesText {
  font-size: 1vw;
  margin: 0;
  text-align: center;
}

.singleBookPublisherInfo {
  display: flex;
  flex-direction: column;
  height: 33.33%;
  width: 35%;
  // background-color:red;
}

.singleBookPublisherText {
  font-size: 1vw;
  margin: 0;
  text-align: center;
}

.singleBookAdditional {
  display: flex;
  justify-content: space-between;
  margin: 2em 1.5em 1em 0;
  // background-color: aqua;
}

.singleBookDescription {
  display: flex;
  flex-direction: column;
  margin: 2.5em 1.5em 1em 0;
  overflow: auto;
  // background-color: purple;
}

.singleBookDescriptionText {
  // background-color: yellow;
  // font-size: 1.4vw;
  margin: 0;
  text-align: center;
}

.singleBookButtonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 1.5em 0 0;
  // background-color: teal;
}

.singleBookButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.singleBookRatingDisplay {
  height: 10%;
  
}

/* Book Club Members */

.members-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: teal;
}

.member-image {
  border: solid;
  border-radius: 50%;
  border-width: 1px;
  object-fit: cover;
  width: 4em;
  height: 4em;
  margin: 0.4em 1em 0.4em 0.4em;
}

.member-item {
  background-color: silver;
  border: solid;
  border-radius: 15px;
  display: flex;
  margin: 0.2em;
  width: 15em;
}

.member-item-selected {
  background-color: silver;
  border: solid;
  border-radius: 15px;
  display: flex;
  margin: 0.2em;
  width: 15em;
  box-shadow: 0 0 0.4em 0.2em slategrey;
}

.button-container {
  background-color: black;
  color: white;
  border-radius: 15px;
  margin: 0.2em;
  cursor: pointer;
  width: 15em;
}

.button-container:disabled {
  color: grey;
  opacity: 0.7;
  cursor: default;
}

.member-list {
  display: flex;
  flex-direction: column;
}

.member-name {
  align-self: center;
  margin: 0 0.4em 0 0.4em;
}

.member-online {
  display: flex;
  align-self: center;
}

.online-display {
  display: flex;
  align-self: center;
  height: 0.9em;
}

.member-add-button {
  margin: .5em;
}

/* Book Club Invitation */

.invitation-buttons {
  display: flex;
}

.buttons-accept {
  margin: 0 1em 0 1em;
  background-color: green;
}

.buttons-reject {
  margin: 0 1em 0 1em;  
  background-color: red;
}

/* Book Club Dashboard */

.bookClubsDashboard {
  display: flex;
  flex-direction: column;
  margin: 10em 0 0 0;
}

/* Book Club List Item */

.bookClubItemContainer {
  display: flex;
  flex-direction: column;
  border: solid;
  border-radius: 10px;
  width: 45em;
  margin: 0 0 0 4em;
}

.bookClubItemTitle {
  // background-color: red;
  text-align: center;
}

/* Book Club Feature Book */

.bookClubFeature {
  border-radius: 10px;
  display: flex;
  margin: 0.5rem 5rem 0.4rem 5rem;
  height: 10em;
  width: 20%;
  background-color: silver;
  box-shadow: 0 0 0.4em 0.2em slategray
}

.bookClubFeatureLeft {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  width: 50%;
  // background-color: white;
  object-fit: cover;
}

.bookClubFeatureInformation {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  // background-color: green;
}

.bookClubFeatureImage {
  object-fit: cover;
  height: 90%;
  padding: 0.5em 0 0.1em 0;
}

.bookClubFeatureTitleAndAuthorInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 1.5em 0 0;
  // background-color: aqua;
  width: 100%;
}

.bookClubFeatureTitleInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  margin: 0 0 0.5em 0;
  // background-color: orange;

}

.bookClubFeatureTitleText {
  display: flex;
  font-size: 1vw;
  margin: 0 auto auto 0;
  text-align: center;
  // background-color: white;
}

.bookClubFeatureAuthorInfo {
  display: flex;
  flex-direction: column;
  height: 50%;
  margin: 0.5em 0 0 0;
  // background-color: red;
}

.bookClubFeatureAuthorText {
  font-size: 1vw;
  margin: 0 auto auto 0;
  text-align: center;
  // background-color: silver;

}

.bookClubFeatureSmallHeading {
  // background-color: gold;
}

.bookClubFeatureSmallHeadingText {
  font-size: 1.2vw;
  font-weight: bold;
  margin: 0;
}

.bookClubBookDisplay {
  // display: flex;
  // background-color: aqua;
}

.bookClubAddBookButton {

}

.bookClubNextMeeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15em;
  border: solid;
  border-radius: 20px;
  background-color: grey;
}

.bookClubNextMeetingHeading {
  margin: 1em 0 0 0;
}

.bookClubNextMeetingTitle {
  font-weight: bold;
  font-size: 20px;
  // background-color: teal;
  margin: 0.5em 0 0 0;
}

.bookClubNextMeetingText {
  // background-color: orange;
  margin: 0 0 0.5em 0;

}

.addBookClubContainer {

}

.addBookClub {
  
}

.newBookClubTitle {
  display: flex;
  justify-content: center;
}

.newBookClubForm {

}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.buttons-2 {
  display: flex;
  justify-content: center;
  margin: 0 0 2em 0;
}

.bookClubSetUp {
  margin: 0 100px auto;
  justify-content: center;
  align-items: center;
  // opacity: 0;
  z-index: 1;
  width: 60em;
  max-width: 100em;
  padding: 45px;
  background: #ffffff;
  border-radius: 25px;
  min-height: 40em;
}

.bookClubSetUp {
  input {
    @include input;

    ::placeholder {
      color: #90a4ae;
    }
  }

  .btn {
    @include btn;
  }
}

.newBookClubContainer {
display: flex;
justify-content: center;
}

.newBookClubMembers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meetingCal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meetingTime {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: red;
  margin: 0;
  padding: 0;
}

.meetingClock {
  background-color: green($color: green);  
}

.newBookClubFirstBook {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newBookClubCongratulations {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Goal List Item */

.GoalListItemContainer {
  display: flex;
  flex-direction: column;
  border: solid;
  border-radius: 10px;
  width: 45em;
  margin: 0 0 0 4em;
}
